/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */

button {
  padding: 2rem 3rem;
  background: #8FBC72;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(137, 168, 118);
}

button:active {
  transform: scale(0.98);
}

label {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

input,
textarea {
  font-size: 1.2rem;
}

h2 {
  font-size: 2.4rem;
}

/*Jenny newsfeed*/


#jenny {
  background-image: url(img/newsfeedbackg.png);
  background-repeat: no-repeat; 
  border: 1px solid black;
}

.h1jenny
{
  font-size: 30px;
  color: white;
  font-family: Bahnschrift Light;
  border: 0px solid black;
  margin: 20px;
  padding: 10px;
}

.picturenews
{
  background-color: rgba(216, 241, 248, 0.7); 
  padding: 0px;
  border: 0.5px dotted pink;
  width: 50%;
  margin: 0 auto;
  box-shadow: 3px 3px 10px grey;
  border-radius: 10px;
 }

 .imgjenny {
   border-radius: 20px;
   float: left;
   width: 30%;
   margin-left: 2.5%;
   margin-top: 30px; 
   box-shadow: 3px 3px 6px grey;
   border: 0.5px dotted pink;
 }

.jennyp
{
padding-top: 00px;
text-align: center;
}

.jennyul
{
  list-style-type: none;
  font-family: Bahnschrift Light;
}

.localnewsbox{
  margin-top: 600px;
  margin-left: 50px;
  padding: 4px;
  font-size: 20px;
  width: 550px;
  height: 30px;
  color: white;
    background-color: dodgerblue;
}

.localnewsdiv {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  border: 0.5px dotted pink;
  box-shadow: 1px 1px 3px grey;
  width: 550px;
  height: 145px;
  padding: 0px;
  background-color: white;

}

.imglocal
{
  width: 130px;
  height: 144px;
  float: left;
  margin-right: 20px;
  
}

.localnewscontent
{ padding-left: 10px;

}

.tidsrubrik
{
  font-size: 13px;
  color: blue;
  padding-top: 20px;
  padding-bottom: 15px;
  }
.likebtn-wrapper
{
   padding-top: 10px;
   
}

/*
.boxjen
{
margin: 30px;
height:1000px;
width:1000px;
border:2px solid black;
background-image: url(https://www.worldofboardgames.com/product_images/1119-1-L.jpg);
background-size: cover;
padding: 0px;
float: left;
}

.navbarjen
{
background-color: red;
color: white;
height: 40px;

}

.localnewsbox
{

border:2px solid black;
margin: 30px;
height:1000px;
width:1000px;
float: left;

}

.image
{
padding: 30px;
}
.textlocalnews
{
font-size: 20px;
padding: 30px;

}

.newstitles
{
    background-color: rgba(43, 38, 38, 0.8);
    color: white;
    font-size: 40px;
    height: 100px;
    padding: 30px;
    
    
    
}
.liststyling
{
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    list-style-type:none;
}
*/

/*  Navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  background-color: #333;
}
.navi {
  background-color: #333;
  /*
  position: fixed;
  top: 0;
  width: 100%
  */
}

.navi nav ul {
  overflow: hidden;
}

.navi nav ul li a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navi nav ul li a:hover {
  background-color: #ddd;
  color: #000;
}

.navi .icon{
  display: none;
}

@media screen and (max-width: 600px) {
    .navi a:first-child {display: none;}
    .navi a.icon {
      float: right;
      display: block;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .navi.responsive {position: relative;}
    .navi.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navi.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }




/* Contact form section */
#contact {
  padding: 2rem;
  min-height: 80vh;
  font-size: 62.5%;
  background-image: url('./img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-wrapper {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

input,
textarea {
  font-size: 1.5rem;
  margin: 1rem;
  width: 70%;
}

label,
label::placeholder {
  font-size: 1.5rem;
  margin: 1rem;
}

.form-name,
.form-phone,
.form-email,
.form-messege {
  display: flex;
  justify-content: space-evenly;
}

i {
  margin-right: 1.5rem;
}

button {
  cursor: pointer;
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  background: #24cb73;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background-color: #169652;
}

button:active {
  transform: scale(0.98);
}

@media screen and (max-width: 800px) {
  .contact-wrapper {
    min-width: 80%;
  }

  i {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-wrapper {
    max-width: 80%;
  }
}

/* Sign in form */
#Jesper{
  max-width: 100%;
  max-height: 50%;
}

#signIn-Form{
  padding-top: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.img{
  margin-top: 0;
  width: 24px;
  position: absolute;
}

.signIn{
  font-family: 'Roboto', sans-serif;
  background: #a19f9e;
  width: 20%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
}

.signIn label{
  font-size: 1.2rem ;
  display: inline;
  margin: 0 auto;
  margin-left: 30px;
}

.email input{
  width: 80%;
  font-size: 18px;
  margin-left: 30px;
}

.pw input{
  width: 80%;
  font-size: 18px;
  margin-left: 30px;
}

.signIn h2{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.submit{
  display: block;
  margin: 0 auto;
  width: 100%;
  background: #333333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  margin: 0 auto;
}

.submit:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;

}

/* Här slutar sign in form */

.infodel {
	background-color: #f0f0f0;
	width: 90%;
	margin: auto;
	padding: 20px;
}

#rubrik {
	font-size: 40px;
	background-color: red;
	text-shadow: 2px 2px black;
  color: white;
  width: 465px;
  padding: 10px;
  margin-left: 10px;
	margin-bottom: 0;
}
.boxsan {
	background-color: white;
	border: 15px solid #f0f0f0;
	padding: 10px;
	box-shadow: inset 0 0 5px black;
}
.boxsan p {
	font-size: 20px;
}
.infodel h4 {
	border:5px solid red;
	color: white;
	margin: 0;
	text-shadow: 2px 2px black;
	background-color: red;
	border-style: outset;
	width: 180px;
	font-size: 30px;
}

.content h4 {
  border:5px solid red;
	color: white;
	margin: 0;
	text-shadow: 2px 2px black;
	background-color: red;
	border-style: outset;
	width: 250px;
	font-size: 30px;
}
.content {
	margin: 20px;
}
.content li {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
.content img {
	width: 45%;
  margin: 25px;
  box-shadow: 10px 10px 5px gray;
  
}
.tips {
  margin: 20px;
}
.tips p {
  font-size: 20px;
  margin: 10px;
}

